page-coffee-samples-details {
  .scroll {
    height: 100%
  }

  h3 {
    padding: 3px;
  }

  .card {
    margin: 0;
    width: 100%;
  }

  .map {
    width: 100%;
    height: 40%;
  }

  .please-connect {
    position: absolute;
    background-color: color($colors, dark);
    opacity: 0.5;
    z-index: 1;
    width: 95.5%;
    height: 39%;

    p {
      color: color($colors, light);
      font-weight: bold;
      text-align: center;
      position: relative;
      font-size: 1.5em;
      top: 30%;
    }
  }

  .spinner {
    .map {
      top: 50%;
      left: 50%;
    }
    
  }
  
  .card-header {
    color: color($colors, primary) !important;
    background-color: #f7f5f5;
    margin-bottom: 0;
    padding: 10px;
  }

  .card-content {
    padding: 5px !important;
  }

  ion-slides,
  .swiper-container {
    width: 100%;
    height: auto;
    margin: 10px auto;
  }

  ion-img {
    contain: none;
  }
}
