<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'COFFEE_SAMPLE_DETAIL_TITLE' | translate }}</ion-title>

    <ion-buttons right>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-title text-center>{{ 'COFFEE_SAMPLE_DETAIL_NUMBER' | translate }} #{{ params.code }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div #pleaseConnect class="please-connect">
      <p>{{ 'CONNECT_INTERNET' | translate }}</p>
  </div>

  <div #map class="map">
      <ion-spinner class="map"></ion-spinner>
  </div>
  
  <ion-card padding>
    <ion-item no-padding>
      <h3 text-wrap text-justify><b>{{ params.description }}</b></h3>
    </ion-item>

    <ion-card-content no-padding>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-6>
            <p text-center>
              <ion-icon name="md-calendar"></ion-icon>
              {{ 'COFFEE_SAMPLE_DATE_PLANTING' | translate }} <br> {{ params.date_planting | date: 'dd/MM/yyyy' }}
            </p>
          </ion-col>
          
          <ion-col col-6>
            <p text-center>
              <ion-icon name="md-calendar"></ion-icon>
              {{ 'COFFEE_SAMPLE_DATE_HARVEST' | translate }} <br> {{ params.date_harvest | date: 'dd/MM/yyyy' }}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

    <ion-card-header>
        {{ 'COFFEE_SAMPLE_DETAIL_HEADER_CARD_PRODUCT' | translate }}
    </ion-card-header>

    <ion-card-content>
      <p><b>{{ 'COFFEE_SAMPLE_DETAIL_CARD_PRODUCT_NAME' | translate }}</b> {{ params.product.name }}</p>
      <p><b>{{ 'COFFEE_SAMPLE_DETAIL_CARD_PRODUCT_TYPE' | translate }}</b> {{ params.product.grain_type }}</p>
    </ion-card-content>

    <ion-card-header>
        {{ 'COFFEE_SAMPLE_DETAIL_HEADER_CARD_FARM' | translate }}
    </ion-card-header>

    <ion-card-content>
      <p><b>{{ 'COFFEE_SAMPLE_DETAIL_CARD_FARM_NAME' | translate }}</b> {{ params.farm.name }}</p>
      <p><b>{{ 'COFFEE_SAMPLE_DETAIL_CARD_FARM_CITY' | translate }}</b> {{ params.farm.city }}</p>
      <p><b>{{ 'COFFEE_SAMPLE_DETAIL_CARD_FARM_STATE' | translate }}</b> {{ params.farm.state }}</p>
      <p><b>{{ 'COFFEE_SAMPLE_DETAIL_CARD_FARM_REGION' | translate }}</b> {{ params.farm.region }}</p>
    </ion-card-content>

    <div *ngIf="params.gallery">
      <ion-card-header>
          {{ 'COFFEE_SAMPLE_DETAIL_HEADER_CARD_GALLERY' | translate }}
      </ion-card-header>

      <ion-slides #slider effect="fade" (ionSlideWillChange)="onSlideChanged()">
        <ion-slide *ngFor="let slide of params.gallery">
          <img-loader [src]="slide.imageUrl"></img-loader>
        </ion-slide>

        <div *ngIf="currentIndex > 0"
            class="swiper-button-prev swiper-button-white"
            (click)="previousSlide()">
        </div>
        <div *ngIf="currentIndex < params.gallery.length-1"
              class="swiper-button-next swiper-button-white"
              (click)="nextSlide()">
        </div>
      </ion-slides>
    </div>
  </ion-card>

  <button ion-button full icon-right style="margin-top: 20px;"
  (click)="openPage('CoffeeSampleRatingPage', params)" *ngIf="!evaluated_sample">
    {{ 'COFFEE_SAMPLE_DETAIL_BUTTON_EVALUATE' | translate }}
    <ion-icon name="checkmark-circle-outline"></ion-icon>
  </button>

  <button ion-button full icon-right style="margin-top: 20px;"
  (click)="openPage('CoffeeSampleRatingViewPage', params)" color="secondary" *ngIf="evaluated_sample">
    {{ 'COFFEE_SAMPLE_DETAIL_BUTTON_EVALUATE_VIEW' | translate }}
    <ion-icon name="checkmark-circle-outline"></ion-icon>
  </button>
  
</ion-content>
