page-gallery {
  img {
    width: 100%;
    height: 100%;
  }

  .card {
    margin: 5px;
    width: auto;
  }

  .card-content {
    padding: 5px !important;
  }

  [col-md-2] {
    padding: 2px !important;
  }

  ion-avatar {
    margin: 0px 16px 0px 0 !important;

    img {
      width: 46px !important;
      height: 46px !important;
    }
  }

  .button {
    box-shadow: none;
  }
}
