<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'GALLERY_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Profile -->
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <ion-img width="46" height="46" cache="true" src="{{ profile?.profile_picture }}"></ion-img>
      </ion-avatar>
      <h4><b>{{ profile?.full_name }}</b></h4>
      <h4 text-wrap text-justify>{{ profile?.bio }}</h4>
    </ion-item>
  </ion-card>

  <!-- Buttons -->
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-6>
        <button no-margin ion-button icon-only full color="light" (click)="changeDisplayType('grid')">
          <ion-icon name="md-apps" color="{{ displayType ? 'primary' : 'dark' }}"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-6>
        <button no-margin ion-button icon-only full color="light" (click)="changeDisplayType('list')">
          <ion-icon name="md-list" color="{{ !displayType ? 'primary' : 'dark' }}"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Grid -->
  <ion-grid no-padding *ngIf="displayType">
    <ion-row>
      <ion-col col-4 col-sm-3 col-md-2 *ngFor="let photo of photosInfinitScroll; let i = index">
        <img-loader (click)="openPage(photo, i)" [src]="photo.images.thumbnail.url"></img-loader>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- List -->
  <div *ngIf="!displayType">
    <ion-card *ngFor="let photo of photosInfinitScroll; let i = index">
      <img-loader [src]="photo.images.low_resolution.url"></img-loader>

      <ion-card-content>
        <p text-center>{{ photo.caption?.text }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
