page-farm {
    .card {
        background-color: color($colors, light);

        p::first-letter { 
            float: left;
            padding-left: 20px;
        }

        p {
            font-size: 1.5rem;
        }
    }

    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }

        .card-text {
            position: absolute;
            width: 100%;
            margin: 0;
            text-shadow: 2px -2px 10px black;
            color: color($colors, light);
        }

        .card-title {
            font-size: 1.8em;
            top: 25%;
            font-weight: bold;
        }

        .card-subtitle {
            font-size: 1.2em;
            top: 48%;
        }

        .card-subtitle2 {
            font-size: 1.2em;
            top: 62%;
        }
    }
}

