<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'FARM_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <img style="padding: 10px; padding-bottom: 0;" src="assets/img/farm/1.jpg"/>

    <ion-card-content text-justify>        
        <p>{{ 'FARM_DESCRIPTION1' | translate }}</p>
        <p>{{ 'FARM_DESCRIPTION2' | translate }}</p>
        <p>{{ 'FARM_DESCRIPTION3' | translate }}</p>
        <p>{{ 'FARM_DESCRIPTION4' | translate }}</p>
    </ion-card-content>

    <div class="card-background-page">
      <ion-card *ngFor="let card of cards">
        <ion-card-content no-padding>
          <img [src]="card.image"/>
          <div class="card-text card-title" [innerHTML]="card.title | translate"></div>
          <div class="card-text card-subtitle" [innerHTML]="card.subtitle | translate"></div>
          <div class="card-text card-subtitle2" [innerHTML]="card.subtitle2 | translate"></div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-card>

  <div text-center>
    <p style="margin: 0;">{{ 'FARM_NEXT_TITLE' | translate }}</p>
    <h2 style="margin: 5px 0;">{{ 'FARM_NEXT_SUBTITLE' | translate }}</h2>

    <button ion-button icon-end block clear color="redblack" (click)="next()">
      {{ 'FARM_NEXT_BUTTON' | translate }}
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>
</ion-content>
