<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'CERTIFICATIONS_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6 *ngFor="let c of certifications">
        <ion-card>
          <ion-card-header>
            <ion-avatar>
              <img [src]="c.image">
            </ion-avatar>
          </ion-card-header>

          <ion-card-content>
            <p text-justify color="dark" [innerHTML]="c.description | translate"></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div text-center>
    <p style="margin: 0;">{{ 'CERTIFICATIONS_NEXT_TITLE' | translate }}</p>
    <h2 style="margin: 5px 0;">{{ 'CERTIFICATIONS_NEXT_SUBTITLE' | translate }}</h2>

    <button ion-button icon-end block clear color="redblack" (click)="next()">
      {{ 'CERTIFICATIONS_NEXT_BUTTON' | translate }}
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>
</ion-content>
