page-certifications {
    .card {
        width: 100%;
        margin: 0;

        p {
            font-size: 1.5rem;
        }
    }

    .card-content {
        background-color: color($colors, light);
    }

    .card-header {
        img {
            width: 50%;
            margin: auto;
        }
    }
}
