<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'EVALUATE_SAMPLE_TITLE' | translate }}</ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-title text-center>{{ 'COFFEE_SAMPLE_DETAIL_NUMBER' | translate }} #{{ params.code }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p text-justify>{{ 'PAGE_EVALUATE_SAMPLE.DESCRIPTION' | translate }}</p>

  <ion-card no-margin>
    <ion-list no-lines>
      <ion-item>
        <ion-label color="secondary" stacked>{{ 'PAGE_EVALUATE_SAMPLE.FORM_BODY.TITLE' | translate }}</ion-label>
        <ion-input [disabled]="true" [value]="dataRating?.result.body"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="secondary" stacked>{{ 'PAGE_EVALUATE_SAMPLE.FORM_AROMA.TITLE' | translate }}</ion-label>
        <ion-input [disabled]="true" [value]="dataRating?.result.aroma"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="secondary" stacked>{{ 'PAGE_EVALUATE_SAMPLE.FORM_ACIDITY' | translate }}</ion-label>
        <ion-input [disabled]="true" [value]="dataRating?.result.acidity"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="secondary" stacked>{{ 'PAGE_EVALUATE_SAMPLE.FORM_SWEETNESS.TITLE' | translate }}</ion-label>
        <ion-input [disabled]="true" [value]="dataRating?.result.sweetness"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="secondary" stacked>{{ 'PAGE_EVALUATE_SAMPLE.FORM_BITTERNESS.TITLE' | translate }}</ion-label>
        <ion-input [disabled]="true" [value]="dataRating?.result.bitterness"></ion-input>
      </ion-item>

      <p padding>{{ 'EVALUATE_SAMPLE_VIEW_DATE_CREATE' | translate }} {{ dataRating?.createdAt | date: 'dd/MM/yyyy HH:mm' }}</p>
    </ion-list>
  </ion-card>
</ion-content>
