page-region {
    .slide-zoom {
        height: 100%;
    }
    
    .slide-title {
        margin-top: 2.8rem;
    }
    
    .slide-image {
        max-height: 80%;
        max-width: 100%;
        margin: 10px 0;
    }
    
    b {
        font-weight: 500;
    }
    
    p {
        padding: 0 10px;
        font-size: 1.5rem;
    }
    
    .title {
        margin: 0;
    }
    
    .subtitle {
        margin: 5px 0;
    }
    
    .swiper-pagination-bullet-active {
        background: color($colors, primary);
    }
}
