<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'REGION_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-slides pager="true">
    
    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    
    <ion-slide>
      <img src="assets/img/region/5.jpg" class="slide-image" />
      <p class="title">{{ 'REGION_SLIDE5_TITLE' | translate }}</p>
      <h2 class="subtitle">{{ 'REGION_SLIDE5_SUBTITLE' | translate }}</h2>
      
      <button ion-button icon-end large clear color="redblack" (click)="next()">
        {{ 'REGION_CONTINUE_BUTTON' | translate }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
