<ion-header no-border>
  <ion-navbar transparent>

    <ion-buttons end *ngIf="countNavs > 1">
      <button ion-button icon-only color="light" (click)="homePage()">
          <ion-icon name="home"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>
  <div class="conteudo">
    <div text-center>
      <img src="assets/img/appicon.png">
    </div>

    <ion-list no-lines margin>
      <ion-item>
        <ion-icon name="pin" item-start></ion-icon>
        <p text-wrap text-justify>Av. Palmeiras, 520 - JK, Carmo do Paranaíba - MG, 38840-000</p>
      </ion-item>

      <ion-item>
        <ion-icon name="call" item-start></ion-icon>
        <p>+55 (34) 3851-0000</p>

        <!--<button ion-button item-end (click)="call()">{{ 'CONTACT_BUTTON_CALL' | translate }}</button>-->
      </ion-item>
  
      <ion-item>
        <ion-icon name="desktop" item-start></ion-icon>
        <p>www.meusite.com.br</p>
      </ion-item>

      <ion-item>
        <ion-icon name="clock" item-start></ion-icon>
        <p>{{ 'CONTACT_HORARY' | translate }} 08:00–18:00</p>
      </ion-item>
    </ion-list>

    <div #map class="map">
      <ion-spinner class="map"></ion-spinner>
    </div>

    <div #pleaseConnect class="please-connect">
      <p>{{ 'CONNECT_INTERNET' | translate }}</p>
    </div>
  </div>
</ion-content>
