<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
        <img width="100" src="assets/img/appicon-1.png"/>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="scanBarcode()" ion-long-press (onPressing)='openPageLongPress("CoffeeSamplesPage")'>
          <ion-icon name="qr-scanner"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <div class="slide">
    <ion-slides effect="fade" loop="true" autoplay="3000" pager>
      <ion-slide *ngFor="let slide of slides">
        <div (click)="openPage(slide.namePage)">
          <img [src]="slide.image" class="slide-image" />
          <p class="card-subtitle" [innerHTML]="slide.title | translate"></p>
          <p class="card-title" [innerHTML]="slide.subtitle  | translate"></p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="produtos">
    <div class="title">
      <p text-center>{{ 'HOME_PRODUCTS_TITLE' | translate }}</p>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col col-6 col-sm-3 *ngFor="let product of products">
          <ion-card [ngClass]="product.class">
            <ion-card-header>
              <ion-avatar>
                <img [src]="product.image">
              </ion-avatar>
            </ion-card-header>

            <ion-card-content>
              <p text-justify [innerHTML]="product.description | translate"></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="splash-bg">
    <img src="assets/img/appicon.png">
    <p text-center>{{ 'SLOGAN' | translate }}</p>
  </div>
  
</ion-content>
