page-home {
  ion-card {
    position: relative;
    text-align: center;
  }
    
  .card-title {
    position: absolute;
    top: 48%;
    font-size: 1.4em;
    width: 100%;
    font-weight: bold;
    color: color($colors, light);
    text-shadow: 2px -2px 10px black;
    margin: 0;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 35%;
    width: 100%;
    color: color($colors, light);
    text-shadow: 2px -2px 10px black;
    margin: 0;
  }

  .slide {
    border-top-width: 4px;
    border-top-style: solid;
    border-top-color: color($colors, primary);

    .swiper-slide {
      width: 100%;
    }

    .swiper-pagination-bullet {
      background: color($colors, light);
    }

    .swiper-pagination-bullet-active {
      background: color($colors, primary);
    }
  }

  .produtos {
    .title {
      width: 100%;
      background-color: #f7f5f5;

      p {
        margin: 5px 0 1px 0;
        padding: 2px 0 2px 0;
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .card {
      width: 100%;
      margin: 0;
    }

    .sublime {
      background-color: color($color-products, sublime);
      height: 100%;
    }

    .absolute {
      background-color: color($color-products, absolute);
      height: 100%;
    }

    .exclusive {
      background-color: color($color-products, exclusive);
      height: 100%;
    }

    .privilege {
      background-color: color($color-products, privilege);
      height: 100%;
    }

    .card-content {
      background-color: color($colors, light);
      padding-top: 10px !important;
      padding: 6px;
      margin-bottom: 20px;

      p {
        color: color($colors, dark);
        font-size: 1.5rem;
      }
    }

    .card-header {
      img {
        width: 90%;
        margin: auto;
      }
    }
  }

  .splash-bg {
    position: relative;
    background: url('../assets/img/splashbg.jpg') no-repeat transparent;
    background-size: cover;
    height: 200px;
    width: 100%;
    z-index: 1;
    background-repeat: repeat-x;
    //animation: animatedBackground 40s linear infinite;
    margin-top: 20px;

    img {
      width: 130px;
      height: 130px;
      position: absolute;
      top: -30px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    }

    p {
      font-size: 1.0em;
      position: absolute;
      top: 145px;
      width: 100%;
      color: color($colors, light);
      text-shadow: 2px -2px 10px black;
    }
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }
}
