<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'COFFEE_SAMPLE_TITLE' | translate }}</ion-title> 
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="itemsInfinitScroll.length == 0">
    <ion-item>
      <p text-center>{{ 'COFFEE_SAMPLE_NOT_SAMPLE' | translate }}</p>
    </ion-item>
  </ion-card>

  <ion-card padding *ngFor="let s of itemsInfinitScroll; let i = index" (click)="openPage(s, i)"
    [ngClass]="{
      'sublime': s.product.name == 'Sublime',
      'absolute': s.product.name == 'Absolute',
      'exclusive': s.product.name == 'Exclusive',
      'privilege': s.product.name == 'Privilege'
    }">

    <ion-item no-padding>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-8>
            <h1>{{ s.product.name }}</h1>
          </ion-col>
          
          <ion-col col-4>
            <p text-end>#{{ s.code }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <p>{{ s.description }}</p>
    </ion-item>
  
    <ion-item no-padding>
      <ion-grid>
          <ion-row>
            <ion-col col-6>
              <p text-center>
                <ion-icon name="md-calendar"></ion-icon>
                {{ 'COFFEE_SAMPLE_DATE_PLANTING' | translate }} <br> {{ s.date_planting | date: 'dd/MM/yyyy' }}
              </p>
            </ion-col>
            
            <ion-col col-6>
              <p text-center>
                <ion-icon name="md-calendar"></ion-icon>
                {{ 'COFFEE_SAMPLE_DATE_HARVEST' | translate }} <br> {{ s.date_harvest | date: 'dd/MM/yyyy' }}
              </p>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-item>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- this fab is placed at bottom end -->
  <ion-fab bottom end #fab>
    <button ion-fab color="secondary">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab color="primary" (click)="scanBarcode(fab)">
        <ion-icon name="md-qr-scanner" color="secondary"></ion-icon>
      </button>
      <button ion-fab color="primary" (click)="showPrompt(fab)">
        <ion-icon name="create" color="secondary"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
