page-coffee-samples {
  .card {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
    padding-bottom: 0 !important;
  }

  .label {
    margin: 0;
  }

  .sublime {
      border-left: solid 5px color($color-products, sublime);
  }

  .absolute {
      border-left: solid 5px color($color-products, absolute);
  }

  .exclusive {
      border-left: solid 5px color($color-products, exclusive);
  }

  .privilege {
      border-left: solid 5px color($color-products, privilege);
  }
 
  // POP-IN (FLOAT ACTION BUTTON EFFECT) -------------
  .pop-in {
    animation: pop-in 0.65s;
  }
 
  @keyframes pop-in {
    0% {
      transform: scale(0);
    }
    45% {
      transform: scale(0);
    }
    90% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
 
  // POP-OUT (FLOAT ACTION BUTTON EFFECT) -------------
  .pop-out {
    animation: pop-out 2.5s forwards;
  }
 
  @keyframes pop-out {
    0% {
      transform: scale(1);
    }
    15% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
}
