<ion-header no-border>
  <ion-navbar transparent></ion-navbar>
</ion-header>

<ion-content fullscreen>
  <div class="conteudo">
    <h2 text-center no-margin>{{ name }}</h2>
    <p text-center no-margin>{{ 'ABOUT_VERSION' | translate }} {{ version }}</p>

    <div text-center>
      <img padding src="assets/img/appicon.png">
    </div>

    <p text-center no-margin>© {{ date | date: 'yyyy' }}</p>
    <p text-center no-margin>{{ 'ABOUT_COPYRIGHT' | translate }}</p>
  </div>
</ion-content>
