page-about-app {
    .content {
        background: url('../assets/img/about/background.jpg') no-repeat transparent;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-color: transparent;
        animation: animatedBackground 40s linear infinite;
    }

    .content:after{
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .toolbar-title {
        color: #fff;
    }

    .back-button {
        color: #fff;
    }

    p {
        color: #d9d9d9;
    }

    h2 {
        color: #fff;
    }

    .conteudo {
        top: 25%;
        left: 25%;
        width: 50%;
        position: absolute;
    }

    @keyframes animatedBackground {
        from { background-position: 0 0; }
        to { background-position: 100% 0; }
      }
}
