<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'HISTORY_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-slides pager="true">

    <ion-slide *ngFor="let slide of slides">
      <img [src]="slide.image" class="slide-image" />
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    
    <ion-slide>
      <img src="assets/img/history/4.jpg" class="slide-image" />
      <p class="title">{{ 'HISTORY_SLIDE4_TITLE' | translate }}</p>
      <h2 class="subtitle">{{ 'HISTORY_SLIDE4_SUBTITLE' | translate }}</h2>
      
      <button ion-button icon-end large clear color="redblack" (click)="next()">
        {{ 'HISTORY_CONTINUE_BUTTON' | translate }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
