// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.content {
  background-color: #f9f9f9;
}

.content-menu {
  .content {
    background-color: color($colors, secondary);
  }

  /*.item {
    background-color: color($colors, secondary);
    color: color($colors, light);
    border-bottom-width: 1px;
    border-style: solid;
    border-color: color($colors, secondary);
  }*/

  .item-md.item-block .item-inner {
    border-bottom: 0;
  }

  .item-ios.item-block .item-inner {
    border-bottom: 0;
  }

  .list-ios > .item-block:last-child {
    border-bottom: 0;
  }

  .activeHighlight {
    background-color: color($colors, grey);
  }

  .icon-menu {
    padding-right: 5px;
  }

  .header {
    height: 130px;

    img {
      width: 130px;
      height: 130px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      //-webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    }
  }
}

.toolbar-network {
  bottom: -5.3vh;

  .toolbar {
    opacity: 0.9;
    display: inherit;
  }

  .toolbar-background {
    height: 25px;
  }

  .connection-title {
    color: color($colors, light);
    margin: 0;
    white-space: normal;
    font-size: 1.2rem;
    height: 10px;

    .ion-icon {
      font-size: 1.2em;
    }
  }
}
