<!-- Menu Principal -->
<ion-menu [content]="content" side="start" id="menuPrincipal" class="content-menu">
    <ion-header no-border>
        <ion-toolbar color="secondary" class="header">
            <img padding src="assets/img/appicon.png">
        </ion-toolbar>
    </ion-header>

    <ion-content>
      <accordion title="{{ 'MENU_TITLE' | translate }}" contentColor="secondary" headerColor="secondary" iconName="home">
        <button menuClose ion-item *ngFor="let p of pages" color="secondary" (click)="openPage(p)">
            <ion-icon name="{{p.icon}}" class="icon-menu"></ion-icon>
            {{p.title}}
        </button>
      </accordion>

      <ion-list class="list-config">
        <button menuClose ion-item
            color="secondary"
            (click)="openPage({component: 'OptionsPage'})"
            [class.activeHighlight]="checkActive({component: 'OptionsPage'})"
        >
            <ion-icon name="settings" class="icon-menu"></ion-icon>
            {{ 'MENU_CONFIGURATION' | translate }}
        </button>
      </ion-list>
    </ion-content>

    <ion-footer no-border>
        <ion-toolbar color="primary" center>
            <button ion-button icon-start outline block color="secondary" style="font-weight: bold;"
            (click)="openPage({component: 'CoffeeSamplesPage'})">
                <ion-icon name="cafe"></ion-icon>
                {{ 'MENU_BOTTON_FOOTER' | translate }}
            </button>
        </ion-toolbar>
	</ion-footer>
</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>

<div *ngIf="!online">
    <ion-footer class="toolbar-network">
        <ion-toolbar color="danger">
            <p class="connection-title" icon-start text-center no-margin>
                <ion-icon name="md-wifi"></ion-icon>
                {{ 'ERROR_DISCONNECTED' | translate }}
            </p>
        </ion-toolbar>
    </ion-footer>
</div>