<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'EVALUATE_SAMPLE_TITLE' | translate }}</ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-title text-center>{{ 'COFFEE_SAMPLE_DETAIL_NUMBER' | translate }} #{{ params.code }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p text-justify>{{ 'PAGE_EVALUATE_SAMPLE.DESCRIPTION' | translate }}</p>

  <ion-card no-margin>
    <form padding novalidate [formGroup]="form">
      <ion-list no-lines>
        <ion-item>
          <ion-label stacked>{{ 'PAGE_EVALUATE_SAMPLE.FORM_BODY.TITLE' | translate }}</ion-label>
          <ion-select interface="popover" formControlName="body">
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_BODY.LIGHT' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_BODY.LIGHT' | translate }}</ion-option>
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_BODY.MEDIUM' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_BODY.MEDIUM' | translate }}</ion-option>
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_BODY.EMBEDDED' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_BODY.EMBEDDED' | translate }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'PAGE_EVALUATE_SAMPLE.FORM_AROMA.TITLE' | translate }}</ion-label>
          <ion-select interface="popover" formControlName="aroma">
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_AROMA.BLOOMED' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_AROMA.BLOOMED' | translate }}</ion-option>
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_AROMA.CITRIC' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_AROMA.CITRIC' | translate }}</ion-option>
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_AROMA.CHOCOLATE' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_AROMA.CHOCOLATE' | translate }}</ion-option>
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_AROMA.FRUITY' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_AROMA.FRUITY' | translate }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'PAGE_EVALUATE_SAMPLE.FORM_ACIDITY' | translate }}</ion-label>
          <ion-range min="1" max="10" pin="true" no-padding formControlName="acidity" (ionChange)="rangeChange($event)">
              <ion-label range-left>-</ion-label>  
            <ion-label range-right>+
                <ion-badge item-end>{{ valueRange }}</ion-badge>
              </ion-label>
          </ion-range>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'PAGE_EVALUATE_SAMPLE.FORM_SWEETNESS.TITLE' | translate }}</ion-label>
          <ion-select interface="popover" formControlName="sweetness">
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_SWEETNESS.NULL' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_SWEETNESS.NULL' | translate }}</ion-option>
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_SWEETNESS.LOW' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_SWEETNESS.LOW' | translate }}</ion-option>
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_SWEETNESS.HIGH' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_SWEETNESS.HIGH' | translate }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label stacked>{{ 'PAGE_EVALUATE_SAMPLE.FORM_BITTERNESS.TITLE' | translate }}</ion-label>
          <ion-select interface="popover" formControlName="bitterness">
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_BITTERNESS.LIGHT' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_BITTERNESS.LIGHT' | translate }}</ion-option>
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_BITTERNESS.BALANCED' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_BITTERNESS.BALANCED' | translate }}</ion-option>
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_BITTERNESS.STRONG' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_BITTERNESS.STRONG' | translate }}</ion-option>
            <ion-option value="{{ 'PAGE_EVALUATE_SAMPLE.FORM_BITTERNESS.VERY_STRONG' | translate }}">{{ 'PAGE_EVALUATE_SAMPLE.FORM_BITTERNESS.VERY_STRONG' | translate }}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <button ion-button type="submit" [disabled]="form.invalid" full (click)="submit()">{{ 'PAGE_EVALUATE_SAMPLE.BOTTON_SEND' | translate }}</button>
    </form>
  </ion-card>
</ion-content>
