page-workflow {
    .descricao {
        background-color: color($colors, light);

        p {
            margin: 0;
            font-size: 1.5rem;
        }
    
        p::first-letter { 
            float: left;
            padding-left: 20px;
            font-size: 1.5rem;
        }
    }

    .card-md {
        p {
          font-size: 1.5rem;
        }
    }

    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }

        .card-title {
            font-size: 1.2em;
            position: absolute;
            top: 35%;
            width: 100%;
            color: color($colors, light);
            text-shadow: 2px -2px 10px black;
            margin: 0;
        }

        .card-subtitle {
            position: absolute;
            top: 48%;
            font-size: 1.8em;
            width: 100%;
            font-weight: bold;
            color: color($colors, light);
            text-shadow: 2px -2px 10px black;
            margin: 0;
        }
    }
}
