<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'WORKFLOW_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card class="descricao">
    <ion-card-content>
      <p text-justify>{{ 'WORKFLOW_DESCRIPTION' | translate }}</p>
    </ion-card-content>
  </ion-card>

  <div class="card-background-page">
    <ion-card *ngFor="let card of cards">
      <ion-card-content no-padding (click)="openPage(card.namePage)">
        <img [src]="card.image"/>
        <div class="card-title" [innerHTML]="card.title | translate"></div>
        <div class="card-subtitle" [innerHTML]="card.subtitle | translate"></div>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card class="descricao">
    <ion-card-content>
      <p text-justify>{{ 'WORKFLOW_FOOTER' | translate }}</p>
    </ion-card-content>
  </ion-card>

  <div text-center>
    <p style="margin: 0;">{{ 'WORKFLOW_NEXT_TITLE' | translate }}</p>
    <h2 style="margin: 5px 0;">{{ 'WORKFLOW_NEXT_SUBTITLE' | translate }}</h2>

    <button ion-button icon-end block clear color="redblack" (click)="next()">
      {{ 'WORKFLOW_NEXT_BUTTON' | translate }}
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>
</ion-content>
