<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'PAGE_OPTIONS.TITLE' | translate }}</ion-title> 
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list no-lines>
    <ion-list-header>
        {{ 'PAGE_OPTIONS.LIST_HEADER_CONFIGURATION' | translate }}
    </ion-list-header>

    <ion-item>
      <ion-label>{{ 'PAGE_OPTIONS.LBL_LANGUAGE' | translate }}</ion-label>
      <ion-select interface="popover">
        <div *ngFor="let l of langs; let i = index">
          <ion-option
          [value]="l.CODE"
          [selected]="currentLang == l.CODE ? true : false"
          (ionSelect)="selectLanguage(l)">
          {{ l.LANG }}
          </ion-option>
        </div>
      </ion-select>
    </ion-item>

    <ion-list-header>
        {{ 'PAGE_OPTIONS.LIST_HEADER_OTHERS' | translate }}
    </ion-list-header>

    <button ion-item (click)="openPage('AboutAppPage')">
        {{ 'PAGE_OPTIONS.ABOUT' | translate }}
    </button>
  </ion-list>
</ion-content>
