page-options {
    .item {
        background-color: color($colors, light); 
    }

    .list-header {
        color: color($colors, primary) !important;
        background-color: #fdfcfc;
        margin-bottom: 0;
    }
}
