page-time-line {      
    .timeline {
        width: 100%;
        padding: 4em 0 1em 0;
        position: relative;
        margin: 0 auto;
        list-style-type: none;
    }
      
    .timeline:before {
        position: absolute;
        left: 50%;
        top: 0;
        content: ' ';
        display: block;
        width: 6px;
        height: 100%;
        margin-left: -3px;
        background: rgb(80,80,80);
        background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
        background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
        
        z-index: 5;
    }
      
    .timeline li {
        padding: 2em 0;
    }
      
    .timeline li:after {
        content: "";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
      
    .direction-r {
        float: none;
        width: 100%;
        text-align: center;
        position: relative;
    }
      
    .flag-wrapper {
        text-align: center;
        position: relative;
        display: inline-block;
    }
    
    .flag {
        font-size: 1.8rem;
        position: relative;
        display: inline;
        padding: 6px 10px;
        border-radius: 5px;
        font-weight: 600;
        text-align: left;
        background: #fff;
        z-index: 15;
    }
      
    .direction-r .flag {
        -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
        -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
        box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
    }
      
    .direction-r .flag:before {
        position: absolute;
        top: -30px;
        right: -40px;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        margin-top: -10px;
        margin-left: -9px;
        background: #fff;
        border-radius: 10px;
        border: 4px solid;
        border-color: color($colors, primary);
        z-index: 10;
        left: 50%;
    }

    .direction-r .flag:after {
        content: "";
        position: absolute;
        left: 50%;
        right: 100%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        margin-top: -8px;
        border: solid transparent;
        border-bottom-color: color($colors, light);
        border-width: 8px;
        pointer-events: none;
    }
      
    .time-wrapper {
        display: block;
        position: relative;
        margin: 4px 0 0 0;
        z-index: 14;
        line-height: 1em;
        font-size: 0.66666em;
        color: color($colors, redblack);
        vertical-align: middle;

        float: none;
    }
      
    .time {
        display: inline-block;
        padding: 6px 6px;
        background: rgb(248,248,248);
        margin-top: 3px;
        font-size: 1.8rem;
    }
      
    .desc {        
        font-size: 1.5rem;
        position: relative;
        margin: 1em 1em 0 1em;
        padding: 1em;
        background: rgb(245,245,245);
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
        box-shadow: 0 0 1px rgba(0,0,0,0.20);
        
        z-index: 15;

        .img {
            border-radius: 50%;
            width: 70px;
            height: 70px;
            margin: 0 5px 0 0;
        }
    }
}
