<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'TIMELINE_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p no-margin text-center><strong>João da Silva</strong></p>
  <p no-margin text-center>{{ 'TIMELINE_PRESIDENT' | translate }}</p>

  <ul class="timeline">
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">2017</span>
          <!--<span class="time-wrapper"><span class="time">2013 - present</span>-->
        </div>
        <div class="desc">{{ 'TIMELINE_DESC14' | translate }}</div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">2017</span>
        </div>
        <div class="desc">{{ 'TIMELINE_DESC13' | translate }}</div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">2017</span>
        </div>
        <div class="desc">{{ 'TIMELINE_DESC12' | translate }}</div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">2016</span>
        </div>
        <div class="desc">
            <img class="img" src="assets/img/timeline/1.png">
            <img class="img" src="assets/img/timeline/avatar2.jpg">
            <img class="img" src="assets/img/timeline/avatar3.jpg">
            <p no-margin>{{ 'TIMELINE_DESC11' | translate }}</p>
        </div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">2015</span>
        </div>
        <div class="desc">{{ 'TIMELINE_DESC10' | translate }}</div>
      </div>
    </li>
  
    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">2015</span>
        </div>
        <div class="desc">{{ 'TIMELINE_DESC9' | translate }}</div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">2013</span>
        </div>
        <div class="desc">{{ 'TIMELINE_DESC8' | translate }}</div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">2012</span>
        </div>
        <div class="desc">{{ 'TIMELINE_DESC7' | translate }}</div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">2009</span>
        </div>
        <div class="desc">{{ 'TIMELINE_DESC6' | translate }}</div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">2004</span>
        </div>
        <div class="desc">{{ 'TIMELINE_DESC5' | translate }}</div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">2003</span>
        </div>
        <div class="desc">{{ 'TIMELINE_DESC4' | translate }}</div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">1990</span>
        </div>
        <div class="desc">{{ 'TIMELINE_DESC3' | translate }}</div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">1977</span>
        </div>
        <div class="desc">{{ 'TIMELINE_DESC2' | translate }}</div>
      </div>
    </li>

    <li>
      <div class="direction-r">
        <div class="flag-wrapper">
          <span class="flag">1975</span>
          <span class="time-wrapper"><span class="time">{{ 'TIMELINE_DESC1' | translate }}</span></span>
        </div>
      </div>
    </li>
  </ul>
</ion-content>
