<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'PRODUCTS_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content text-justify class="description">
      <p>{{ 'PRODUCTS_DESCRIPTION' | translate }}</p>
    </ion-card-content>
  </ion-card>

  <div class="produtos">
    <ion-grid>
      <ion-row>
        <ion-col col-6 col-sm-3 *ngFor="let product of products">
          <ion-card [ngClass]="product.class">
            <ion-card-header>
              <ion-avatar>
                <img [src]="product.image">
              </ion-avatar>
            </ion-card-header>

            <ion-card-content>
              <p text-justify [innerHTML]="product.description | translate"></p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div text-center>
    <p style="margin: 0;">{{ 'PRODUCTS_NEXT_TITLE' | translate }}</p>
    <h2 style="margin: 5px 0;">{{ 'PRODUCTS_NEXT_SUBTITLE' | translate }}</h2>

    <button ion-button icon-end block clear color="redblack" (click)="next()">
      {{ 'PRODUCTS_NEXT_BUTTON' | translate }}
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </div>
</ion-content>
