page-products {
    .card {
        background-color: color($colors, light);
    }

    .card-md {
        p {
            font-size: 1.5rem;
        }
    }

    .description {
        p::first-letter { 
            float: left;
            padding-left: 20px;
        }
    }

    .produtos {
        .card {
            width: 100%;
            margin: 0;
        }

        .sublime {
            background-color: color($color-products, sublime);
            height: 100%;
        }

        .absolute {
            background-color: color($color-products, absolute);
            height: 100%;
        }

        .exclusive {
            background-color: color($color-products, exclusive);
            height: 100%;
        }

        .privilege {
            background-color: color($color-products, privilege);
            height: 100%;
        }

        .card-content {
            background-color: color($colors, light);
            padding-top: 10px !important;
            padding: 6px;
            margin-bottom: 20px;

            p {
                color: color($colors, dark);
                font-size: 1.5rem;
            }
        }

        .card-header {
            img {
                width: 90%;
                margin: auto;
            }
        }
    }
}
