<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'WORKFLOW_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content text-justify>
      <ion-card-title color="redblack">{{ 'WORKFLOW_REAP_TITLE' | translate }}</ion-card-title>

      <li>{{ 'WORKFLOW_REAP1' | translate }}</li>
      <li>{{ 'WORKFLOW_REAP2' | translate }}</li>
      <li>{{ 'WORKFLOW_REAP3' | translate }}</li>
      <li>{{ 'WORKFLOW_REAP4' | translate }}</li>

      <div style="margin-top: 10px;">
        <ion-slides loop="true" autoplay="3000">
          <ion-slide>
            <img src="assets/img/workflow/reap/1.jpg" class="slide-image" />
          </ion-slide>

          <ion-slide>
              <img src="assets/img/workflow/reap/2.jpg" class="slide-image" />
            </ion-slide>
        </ion-slides>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
