<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{ 'GALLERY_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides no-margin>
    <ion-slide>
      <img-loader [src]="photo?.images.standard_resolution.url"></img-loader>
    </ion-slide>

    <div *ngIf="currentIndex > 0"
        class="swiper-button-prev swiper-button-white"
        (click)="previousSlide()">
    </div>
    <div *ngIf="currentIndex < photos?.length-1"
          class="swiper-button-next swiper-button-white"
          (click)="nextSlide()">
    </div>
  </ion-slides>

  <div padding>
    <ion-card>
      <ion-card-header>
          {{ 'GALLERY_VIEW_DESCRIPTION' | translate }}
      </ion-card-header>
  
      <ion-card-content>
        <p text-center>{{ photo?.caption.text }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
