page-gallery-view-photo {
  ion-slides,
  .swiper-container {
    width: 100%;
    height: auto;
  }

  .card {
    margin: 0;
    width: 100%;
  }

  .card-header {
    color: color($colors, primary) !important;
    background-color: #f7f5f5;
    margin-bottom: 0;
    padding: 10px;
  }

  .card-content {
    padding: 5px !important;
  }
}
